* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  /* Colours taken from https://colorcombinations.org/palettes/wada-243-raw-sienna-ivory-buff/ <3 */
  --raw-sienna: #bb7125;
  --ivory-buff: #ebd3a2;
  --olive-green: #6b7140;
  --slate-color: #34454c;
}

html,
body {
  height: 100%;
}

div,
header {
  border: solid 1px red;
}

#container {
  height: 100%;
  display: grid;
  grid-template-areas:
    "b a a"
    "b c c"
    "b c c";
}

header {
  grid-area: a;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

#search-bar {
  padding: 20px 0 0 30px;
}

/* REWORKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK */
/* REWORKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK */
/* REWORKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK */
#utility {
  display: grid;
  grid-template-areas:
    ". . ."
    "bell avatar profile"
    ". . .";
}

#bell {
  grid-area: bell;
  width: 100px;
  place-self: center;
}

#utility .avatar {
  grid-area: avatar;
  place-self: center;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  max-width: 100%;
  object-fit: cover;
}

#profile {
  grid-area: profile;
  width: 100px;
  place-self: center;
}

#user-greeting {
  display: grid;
  grid-template-columns: 1fr 4fr;

  padding: 0 0 10px 30px;
}

#user-greeting #avatar-large {
  align-self: end;
}

#avatar-large {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

#avatar-large img {
  max-width: 100%;
  object-fit: cover;
  align-self: end;
}

#greeting {
  display: grid;
}

#greeting p:first-child {
  align-self: end;
}

#greeting p:last-child {
  align-self: start;
}

#username {
  font-size: 4ch;
  font-weight: bold;
}

#content-buttons {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: end;
  align-items: center;
}

#content-buttons button {
  width: 80px;
  height: 50px;
}

#sidebar {
  grid-area: b;

  background-color: var(--olive-green);
}

#dashboard-title {
  display: grid;
  grid-template-columns: 1fr 4fr;

  padding: 20px 10px 0 10px;
}

#dashboard-title img {
  height: 30px;
  width: auto;
}

#sidebar li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 10px;
  align-items: center;
}

#sidebar li img {
  height: 30px;
  width: auto;

}

#main {
  grid-area: c;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4ch repeat(3, 1fr);

  gap: 10px;
  padding: 10px 30px 10px 30px;
}

#projects h2 {
  grid-column-start: span 2;
}

.project {
  display: grid;
  grid-template-rows: 4ch 100px 50px;

  padding: 20px 10px;
}

.buttons {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  justify-content: end;
  gap: 10px;
}

.buttons button {
  border: none;
  background: transparent;
}

.buttons button img {
  height: 30px;
  width: auto;
}

#announcement-trending {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#announcements {
  display: grid;
  grid-template-rows: 4ch 1fr;

  padding: 30px;
}

.items .item {
  display: grid;

  font-size: 12px;
  padding: 0 20px
}

#trending {
  display: grid;
  grid-template-rows: 4ch 1fr;

  padding: 30px;
}

.items {
  display: grid;
  align-items: center;
}

#trending .items .item {
  grid-template-columns: 1fr 2fr;
}

.item .text {
  align-self: center;
}